:root {
  --website-red: rgb(127, 29, 29);
}

a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--website-red);
  color: white;
  padding: 1em;
  font-weight: 600;
  align-items: center;
}

.core-container {
  margin: 1rem;
}

.committee-page {
  margin: auto;
  width: 100%;
}

.select-committee {
  padding: 0.2rem;
  margin-left: 0.2rem;
}

.aligned-input {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .committee-page {
    margin: auto;
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .committee-page {
    margin: auto;
    width: 60%;
  }
}

.centred-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centred-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-justified-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.committee-container {
  width: 100%;
}

.committee-members {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.role-container {
  width: 12rem;
  border: 0.2rem var(--website-red) solid;
  margin-bottom: 0.4rem;
}

.role-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
}

.role-name {
  font-weight: 600;
}

.profile-picture {
  width: 100%;
}

.loading-holder {
  border-collapse: collapse;
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  border-width: 0.3rem;
  border-color: white;
  border-bottom-color: var(--website-red);
  border-style: solid;
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.3rem;
}